
<h2>Lab2 สร้าง Component</h2>
<div>
    <h3>Home Component work!!</h3>
</div>

<div>
    <h2> {{ title }} </h2>
    <div>
        Set Title: <input [(ngModel)] = "title" />
    </div>
</div>

<div>
    <h2> {{ count }} </h2>
    <button (click)="countNumber()">Count</button>
    
</div>
<hr>
<h2>Homework 1  สร้าง Component ตาม diagram</h2>
<div class = "componentBox">
    <app-navbar></app-navbar>
    <app-topbanner></app-topbanner>
    <app-categorymenu></app-categorymenu>
</div>
<hr>



